body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fonfo.jpg);
}

.todo-app {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.add-task {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}
